<h4>Listado</h4>
<table class="table">
  <thead>
    <tr>
      <th>N°</th>
      <th>Nombre</th>
      <th>Poder</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="
      let character of characters;
      let i = index;
      let isFirst = first;
      let isLast = last;
      let isEvent = even;
      let isOdd = odd;" [ngClass]="{ 'even': isEvent, 'odd': isOdd }">
      <td>{{ i + 1 }}</td>
      <td>{{ character.name }}</td>
      <td>{{ character.power }}</td>
      <td>
        <button type="button" (click)="emitCharacterToDelete(i)" class="btn btn-danger btn-sm">X</button>
      </td>
    </tr>
  </tbody>
</table>
