<div class="container">
  <h1>Listado de héroes</h1>
  <div *ngIf="deletedHero; else showMessage">
    <h3>Héroe borrado: <small class="text-danger">{{ deletedHero }}</small></h3>
  </div>
  <button type="button" *ngIf="heroNames.length > 0" (click)="deleteLastHero()" class="btn btn-danger">
    Borrar el último héroe
  </button>

  <ul class="list-group mt-2">
    <li class="list-group-item" *ngFor="let heroName of heroNames;">{{ heroName }}</li>
  </ul>
  <ng-template #showMessage>
    <div class="alert alert-warning mt-2">
      No he borrado nada
    </div>
  </ng-template>
</div>
